    <hr style=" background-color: chocolate; height: 2px;">
<footer class="p-5 ">
    <nav class="navbar navbar-expand-lg">

        <a class="navbar-brand d-flex" routerLink="home"  href="#">
            <img src="assets/images/logo2.png" aria-current="page" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link px-4" routerLink="home" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" routerLink="menu" href="#">MENU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" routerLink="locations" href="#">LOCATIONS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" routerLink="blog" href="#">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" routerLink="contact" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" routerLink="about" href="#">ABOUT</a>
                </li>
                <!-- <li>
                    <div id="connect">
                        <a routerLink="" href="" target="_blank" id="facebook">facebook</a>
                        <a routerLink="" href="" target="_blank" id="twitter">twitter</a>
                        <a routerLink="" href="" target="_blank" id="googleplus">google</a>
                    </div>
                </li> -->
            </ul>
        </div>
    </nav>
   
    <div class="d-flex">
        <p class="footnote pe-5">
            &copy; Yay! Koffee 2011.All Rights Reserved.
        </p>
        <p>
            This website template has been designed by <a routerLink="" href="http://www.freewebsitetemplates.com/">Free Website
                Templates</a> for you, for free. You can replace all this text with your own text. You can remove any
            link
            to our website from this website template, you&#39;re free to use this website template without linking back
            to
            us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on
            the
            <a routerLink="" href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
        </p>
    </div>
</footer>
